JAVA/JavagroupA/src/book8/ch5/movies.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD file specifies what elements need to appear
    and specifies the order in which the elements appear
     in an XML document-->
        <!ELEMENT Movies (Movie*)>
        <!ELEMENT Movie (Title, Price)>
        <!ATTLIST Movie year CDATA #REQUIRED>
        <!ELEMENT Title (#PCDATA)>
        <!ELEMENT Price (#PCDATA)>